body{background-color: #eee;}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed; /*fijo*/
	top: 0; /*pegado arriba*/
	width: 100%;
	background-color: #4caf50;
	left:0;
	
}

li{
	float: left;
}

li a{
	display: block;
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	cursor: pointer;
}

li:hover{
	background-color: rgba(0,0,0,0.3);
}

.active{
	background-color: rgba(0,0,0,0.3);
}
.imagenes{
	 width: 915px;
	 height: 420px;
	 margin: 0 auto;
 overflow: hidden;
 }
 
#formulario{width: 400px; margin: 0 auto;}
	label{width: 100px; display: inline-block;}
	table{width: 400px; margin:0 auto;}
	table, tr, th, td{border: 1px solid #000; border-collapse: collapse;}
	table th, td{width: 133px;} 